:root {
    /* Define tu degradado vertical en la variable --degradado-azul-blanco */
    --fondo: linear-gradient(to bottom,
            rgb(61 79 147) 0%,
            rgb(61 79 147) 70%,
            white 70%,
            white 100%);
}
body{
    margin: 0px auto;
    max-width: 1024px;
    font-size: 16px;
    font-family: sans-serif;

    min-height: 100vh;
    height: auto;
    
    background: var(--fondo);
}
section{
    border: 2px solid rgb(61 79 147);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    border-radius: 1px;
    height: 600px;
    margin: 50px 200px;
    padding: 0px 30px;
    background: white;
    text-align: center;
    
}
article{
    text-align: justify;
    padding: 10px 100px;
    position: relative;
}
img{
    width: 350px;
}
hr{
    background: lightgray;
}
h1{
    margin: -10px 0px 40px 0px;
}

input[type="text"], input[type="password"]{
    width: 300px;
    height: 20px;
    font-size: 0.9rem;
    border: 2px solid rgb(61 79 147);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 0px;
}
section article form{
    font-weight: bold;
    font-size: 0.8rem;
}
form a, input[type="submit"]{
    /* 1. Lo convierte en un elemento de bloque para que pueda ocupar su propia línea y usar 'margin: auto'. */
    display: block;

    /* 2. Hace que el ancho sea SÓLO el necesario para el texto. 
          Esto es VITAL, ya que 'margin: auto' solo funciona si el elemento no ocupa todo el ancho disponible. */
    width: fit-content;

    /* 3. Centra el elemento de bloque horizontalmente. */
    margin: 0 auto;
}
input[type="submit"]{
    background: rgb(61 79 147);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 1rem;
    margin-top: 20px;
    border-radius: 10px;
}